/* DEFAULT CSS START */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DEFAULT CSS END */

/* Colour */

.ant-layout-header{
  background: #002766 !important
}

.ant-layout-sider {
  background: #002766 !important
}

/* Height of content */

.ant-layout-content{
  min-height: calc(100vh - 64px) !important
}

.fill-content{
  min-height: calc(100vh - 64px) !important
}

.fill-content-dashboard{
  min-height: calc(100vh - 64px) !important;
  padding: 10px;
  display: block;
  position: relative;
  /* background-image: url(https://img.freepik.com/free-vector/books-seamless-pattern-vector-books-light-bulbs-seamless-texture-reading-background_81894-4192.jpg?size=626&ext=jpg); */
}

/* Hide scroll bar */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* SWAL MODALS */
.success-swal {
  font-family: Calibri, sans-serif;
  box-shadow: 0px 0px 10px 5px grey;
}

.success-swal .swal-title {
  padding: 0px;
  margin: 0px;
  color: #000000;
  font-size: 36px;
}

.success-swal .swal-text {
  color: #000000;
  font-size: 20px;
  text-align: center;
}

.success-swal .swal-icon--success__ring {
  border-color: #21BA45;
}

.success-swal .swal-icon--success__line {
  background-color: #21BA45;
}

.error-swal {
  font-family: Calibri, sans-serif;
  box-shadow: 0px 0px 10px 5px grey;
}

.error-swal .swal-title {
  padding: 0px;
  margin: 0px;
  color: #000000;
  font-size: 36px;
}

.error-swal .swal-text {
  color: #000000;
  font-size: 20px;
  text-align: center;
}

.error-swal .swal-icon--error {
  border-color: red;
}

.error-swal .swal-icon--error__line {
  background-color: red;
}

.loading-swal {
  padding: 30px 0px 0px 0px;
  font-family: Calibri, sans-serif;
  box-shadow: 0px 0px 10px 5px grey;
  }

.loading-swal .swal-title {
  padding: 0px;
  margin: 0px;
  color: #000000;
  font-size: 36px;
}

.loading-swal .swal-text {
  color: #000000;
  font-size: 20px;
  text-align: center;
}

.loading-swal .swal-icon--loading {
  border-color: red;
}

.loading-swal .swal-icon--loading__line {
  background-color: red;
}


.confirmation-swal {
  font-family: Calibri, sans-serif;
  box-shadow: 0px 0px 10px 5px grey;
}
  
.confirmation-swal .swal-title {
  padding: 0px;
  margin: 0px;
  color: #000000;
  font-size: 36px;
}

.confirmation-swal .swal-text {
  color: #000000;
  font-size: 20px;
  text-align: center;
}

.confirmation-swal .swal-button {
  font-size: 16px;
  width: 100px;
}

.confirmation-swal .swal-button--danger:focus {
  box-shadow: none;
}
.chat{
  width: 100%;
  height: 100%;
}